* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: rgb(86, 86, 102);
  --bg-color-header: rgb(59, 59, 70);
  --bg-color-light: rgb(152, 152, 182);
  --font-color: rgb(240, 240, 240);
  --border-color: rgb(0, 0, 0);
}

input {
  padding: 6px;
  margin: 8px 0;
  border-radius: 16px;
}

.select-fetcher {
  padding: 6px;
  margin: 8px 0;
  border-radius: 16px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
}

button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  padding: 4px;
  border-radius: 16px;
  cursor: pointer;
  border: 1px solid var(--border-color);
}

button:hover {
  background-color: var(--bg-color-light);
}

.hidden {
  display: none;
}

.title{
  text-align: center;
}

.controller-wrapper {
  background-color: var(--bg-color-header);
  width: 100%;
  margin: 0 auto;
  padding: 24px 5%;
  box-shadow: 0px 2px 8px black;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.task-list {
  margin: 16px;
}

.controller-wrapper button {
  width: 100px;
}

.controller-wrapper__block{
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
  border-radius: 16px;
  background-color: var(--bg-color);
  border: 1px solid var(--font-color);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.task-list__task {
  padding: 4px;
  border-radius: 16px;
  list-style-position: inside;
  cursor: pointer;
}

.task-list__task:hover {
  background-color: var(--bg-color-light);
}

@media screen and (max-width: 768px) {
  .controller-wrapper{
    justify-content: center;
  }
}
